DATABASE_URL="postgres://localhost:3000"

ACCESS_TOKEN_SECRET="access_token_secret"
REFRESH_TOKEN_SECRET="refresh_token_secret"
ACCESS_TOKEN_TTL="15m"
REFRESH_TOKEN_TTL="7d"
REFRESH_TOKEN_TTL_MS=604800000